h1 {
     color: white
}
h3 {
     color: white
}
table border {
               color: white
}
table {
               color: white
}
details {
               color: white
}
P {
               color: white
}
a {
               color: white
}